<div class="timeline-scroller">
  <div class="timeline-replies">
    {{this.repliesShort}}
  </div>

  {{#if this.date}}
    <div class="timeline-ago">
      {{this.timelineAgo}}
    </div>
  {{/if}}

  {{#if (and this.showDockedButton (not this.dragging)) }}
    attachBackButton(this)
  {{/if}}

  {{#if @fullscreen}}
    <div class="timeline-scroller-content">
      {{this.contents}}
    </div>
    <div class="timeline-handle">
    </div>
  {{else}}
    <div class="timeline-handle">
    </div>
    <div class="timeline-scroller-content">
      {{this.contents}}
    </div>
  {{/if}}
</div>
